<h1>Heroes Encontrados</h1>
<hr>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="heroesEncontrados.length == 0">
      <div class="alert alert-info">No se encontraron héroes con el término: {{ termino }}</div>
      <hr>
    </div>
  </div>
</div>


<div class="card-columns">
    <app-heroe-tarjeta (heroeSeleccionado) = "verHeroe( $event )" [heroe]="heroe" [index] = "heroe.idx" *ngFor="let heroe of heroesEncontrados, let i = index"></app-heroe-tarjeta>
</div>
<a [routerLink]="[ '/heroes' ]" class="btn btn-outline-primary btn-block">Regresar...</a>