<h1>Heroes Encontrados</h1>
<hr>

<div class="row">
  <div class="col-md-12">
    <div *ngIf="heroesEncontrados.length == 0">
      <div class="alert alert-info">No se encontraron héroes con el término: {{ termino }}</div>
      <hr>
    </div>
  </div>
</div>


<div class="card-columns">
  <div class="card" *ngFor="let heroe of heroesEncontrados, let i=index">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }} - {{ heroe.casa }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

    </div>
  </div>

</div>
<a [routerLink]="[ '/heroes' ]" class="btn btn-outline-primary btn-block">Regresar...</a>